@import "tailwindcss";

@theme {
  --font-heading: 'Syne', sans-serif;
  --font-body: 'Inter', sans-serif;

  --color-bg: #09090b;
  --color-surface: #18181b;
  --color-border: #27272a;
  --color-accent: #a78bfa;
  --color-primary: #a78bfa;
  --color-text: #fafafa;
  --color-muted: #71717a;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
