@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@theme {
  --color-primary: #0A192F;
  --color-secondary: #F97316;
  --color-tertiary: #54D6BB;
  --color-grey: #262626;
  --color-surface: #112240;
  --font-sans: 'Inter', sans-serif;
}
*{
  font-family: "Montserrat", sans-serif;
}